#blockly {
  position: fixed;
  bottom: 10px;
}
#visualization {
  position: relative;
}
#capacityBubble {
  position: absolute;
  margin-top: -0.5em;
  left: 10px;
  top: 375px;
  width: 380px;
}
html[dir='RTL'] #capacityBubble {
  left: auto;
  right: 10px;
}
#capacity {
  display: none;
  color: #fff;
  padding: 5px 1em;
  border-radius: 15px;
  background-color: rgba(64, 64, 64, 0.7);
  font-size: large;
}
.capacityNumber {
  font-weight: bold;
}
#sampleOneTopBlock {
  height: 80px;
  width: 250px;
}
#pegSpin {
  height: 50px;
  width: 49px;
  background-position: -343px 0;
  margin-top: 10px;
  position: absolute;
}
html[dir='RTL'] #pegSpin {
  background-position: -441px 0;
}

.helpMenuFake {
  border-radius: 4px;
  background-color: #bfcdde;
  color: #000;
  padding: 0 1ex;
  cursor: default;
}
img[src$='help_up.png'] {
  margin: -20px 10px 0;
  height: 64px;
  width: 23px;
}
img[src$='help_down.png'] {
  margin: 0 10px -20px;
  height: 64px;
  width: 23px;
}

#svgMaze {
  overflow: hidden;
}

/* 'Look' icon */
#look > path {
  display: none;
  fill: none;
  stroke-linecap: round;
  stroke-opacity: 0.7;
  stroke-width: 10;
}

/* Buttons */
button.primary {
  /* Can't use "text-align: start" due to IE. */
  text-align: left;
}
html[dir='RTL'] button.primary {
  text-align: right;
}

#resetButton {
  display: none;
}

#commandDiv {
  width: 400px;
  text-align: right;
}

#both-groups {
  width: 400px;
  margin-left: 20px;
}

#gold {
  color: gold;
  text-align: center;
}

#silver {
  color: silver;
  text-align: center;
}

#choiceLevelInput2 {
  display: block;
  margin: auto;
  text-transform: uppercase;
}

#choiceLevelInput1 {
  display: block;
  margin: auto;
  text-transform: uppercase;
}

#input-group1 {
  margin-left: -65px;
}

#input-group2 {
  margin-left: 65px;
}

#pegmanButton {
  visibility: hidden;
  padding: 0;
  position: relative;
}
#pegmanButton:active {
  border: 1px solid #ddd !important;
}
#pegmanButton > img {
  background-position: -980px 0;
  margin-left: -0.5ex;
  margin-right: 0.5ex;
  opacity: 0.8;
  height: 38px;
  width: 49px;
}
html[dir='RTL'] #pegmanButton > img {
  margin-left: 0.5ex;
  margin-right: -0.5ex;
}
#pegmanButton > span {
  position: absolute;
  top: 0.8ex;
  margin-left: -15px;
}
html[dir='RTL'] #pegmanButton > span {
  margin-right: -15px;
}
#pegmanMenu {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #888;
  display: none;
  position: absolute;
}
#pegmanMenu > div {
  background-color: #fff;
}
#pegmanMenu > div:hover {
  background-color: #57e;
}
#pegmanMenu > div > img {
  height: 38px;
  width: 49px;
  background-position: -980px 0;
}

#table {
  margin-left: -25px;
}

#buttonTable {
  text-align: center;
  /* margin-left: 90px; */
}

#buttonTableSpecial {
  text-align: center;
}

#runButton {
  border: 1px solid #1cdf36;
  background-color: #1cdf36;
  color: #fff;
}

#resetButton {
  border: 1px solid #dd4b39;
  background-color: #dd4b39;
  color: #fff;
}

#submitButton {
  border: 1px solid #501cdf;
  background-color: #501cdf;
  color: #fff;
  text-align: center;
  display: table-cell;
}

#skipButton {
  border: 1px solid #1c98df;
  background-color: #1c98df;
  color: #fff;
}

#help-ins {
  color: #501cdf;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 7px;
}

#stopImage {
  /* left: 30%; */
  width: 100%;
  /* text-align: center; */
  /* margin-left: 1em; */
  /* display: table-cell; */
  /* margin: 0 auto; */
  /* height: 30%; */
  margin-top: 35px;
}

#abortImage {
  /* left: 30%; */
  /* width: 40%; */
  /* text-align: center; */
  /* margin-left: 1em; */
  /* display: table-cell; */
  /* margin: 0 auto; */
  /* height: 100%; */
  margin-top: 35px;
}

#hiddenskipbutton {
  opacity:0;
}

#hiddenskipbutton:hover {
  opacity: 0;
  border: 1px solid #1c98df;
  background-color: #1c98df;
}

button.stop:hover {
  border: 1px solid #1cdf36;
  background-color: #1cdf36;
  color: #fff9f9e8;
}

#dialogStopText2 {
  left: auto;
  bottom: auto;
  position: relative;
  font-size: 1vw;
}

#dialogAbortText2 {
  left: 128px;
  bottom: 68px;
  position: relative;
  font-size: 22px;
  font-weight: bold;
}

#abortImageDiv {
  display: table;
  height: 100%;
  margin: 0 auto;
  margin-bottom: -60px;
}

#stopImageDiv {
  display: table;
  height: 100%;
  margin: 0 auto;
  margin-bottom: -60px;
}

#finalImageDiv {
  text-align: center;
}

button.stop {
  border: 1px solid #fff;
  background-color: #fff;
  color: #fff;
}

#clearData {
  opacity: 0;
  width: 10px;
  height: 10px;
}

#timeBubble {
    position: absolute;
    margin-bottom: -0.4em;
    left: 5px;
    bottom: 375px;
    width: 380px;
}

#time {
    display: inline;
    color: #fff;
    padding: 5px 1em;
    border-radius: 15px;
    background-color: rgba(64, 64, 64, 0.7);
    font-size: large;
}
